auditBillingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://audit.nrel.gov/auditBillingPeriod" xmlns:ns1="http://audit.nrel.gov/auditBillingPeriod" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>auditBillingPeriod.xsd describes the auditBillingPeriod components for the audit tool.</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>Version -  0.1</xs:documentation>
	</xs:annotation>
	<xs:element name="auditBillingPeriod">
		<xs:annotation>
			<xs:documentation>root element which represents a auditBillingPeriod component</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:ID">
					<xs:annotation>
						<xs:documentation>unique ID of the component</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="attributes">
					<xs:annotation>
						<xs:documentation>attributes are name-value pair descriptors specific to this component</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="startDate" type="xs:string"/>
							<xs:element minOccurs="0" name="numberOfDays" type="xs:decimal"/>
							<xs:element minOccurs="0" name="endDate" type="xs:string"/>
							<xs:element name="consumption" type="xs:decimal"/>
							<xs:element minOccurs="0" name="peakDemand" type="xs:decimal"/>
							<xs:element minOccurs="0" name="totalCost" type="xs:decimal"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>