auditLuminaireDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://audit.nrel.gov/auditLuminaireDefinition" xmlns:ns1="http://audit.nrel.gov/auditLuminaireDefinition" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>auditLuminaireDefinition.xsd describes the auditLuminaireDefinition components for the audit tool.</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>Version -  0.1</xs:documentation>
	</xs:annotation>
	<xs:element name="auditLuminaireDefinition">
		<xs:annotation>
			<xs:documentation>root element which represents a auditLuminaireDefinition component</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:ID">
					<xs:annotation>
						<xs:documentation>unique ID of the component</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="attributes">
					<xs:annotation>
						<xs:documentation>attributes are name-value pair descriptors specific to this component</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="name" type="xs:string"/>
							<xs:element name="lampBCLID" type="xs:string"/>
							<xs:element minOccurs="0" name="ballastBCLID" type="xs:string"/>
							<xs:element name="purpose">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="General Area"/>
										<xs:enumeration value="Task"/>
										<xs:enumeration value="Accent"/>
										<xs:enumeration value="Exit"/>
										<xs:enumeration value="Signage"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="mountingType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Fully Recessed"/>
										<xs:enumeration value="Suspended"/>
										<xs:enumeration value="Surface-Mounted"/>
										<xs:enumeration value="In-Grade"/>
										<xs:enumeration value="Pole"/>
										<xs:enumeration value="Bollard"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="numberOfLamps" type="xs:decimal"/>
							<xs:element name="numberOfBallasts" type="xs:decimal"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>