auditLuminaire.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://audit.nrel.gov/auditLuminaire" xmlns:ns1="http://audit.nrel.gov/auditLuminaire" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>auditLuminaire.xsd describes the auditLuminaire components for the audit tool.</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>Version -  0.1</xs:documentation>
	</xs:annotation>
	<xs:element name="auditLuminaire">
		<xs:annotation>
			<xs:documentation>root element which represents a auditLuminaire component</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:ID">
					<xs:annotation>
						<xs:documentation>unique ID of the component</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="attributes">
					<xs:annotation>
						<xs:documentation>attributes are name-value pair descriptors specific to this component</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="luminaireDefinitionID" type="xs:IDREF"/>
							<xs:element name="numberOfLuminaires" type="xs:integer"/>
							<xs:element minOccurs="0" name="scheduleID" type="xs:IDREF"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="lightingControlType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Manual switch"/>
										<xs:enumeration value="Bi-level switch"/>
										<xs:enumeration value="Time clock"/>
										<xs:enumeration value="Daylight sensor"/>
										<xs:enumeration value="Occupancy sensor"/>
										<xs:enumeration value="Dimming"/>
										<xs:enumeration value="Stepped dimming"/>
										<xs:enumeration value="Photo cell"/>
										<xs:enumeration value="Always on"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" name="positionID" type="xs:IDREF"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>