auditWindowDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://audit.nrel.gov/auditWindowDefinition" xmlns:ns1="http://audit.nrel.gov/auditWindowDefinition" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>auditWindowDefinition.xsd describes the auditWindowDefinition components for the audit tool.</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>Version -  0.1</xs:documentation>
	</xs:annotation>
	<xs:element name="auditWindowDefinition">
		<xs:annotation>
			<xs:documentation>root element which represents a auditWindowDefinition component</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:ID">
					<xs:annotation>
						<xs:documentation>unique ID of the component</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="attributes">
					<xs:annotation>
						<xs:documentation>attributes are name-value pair descriptors specific to this component</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="name" type="xs:string"/>
							<xs:element minOccurs="0" name="type">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Fixed Window"/>
										<xs:enumeration value="Operable Window"/>
										<xs:enumeration value="Glass Door"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="width">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:decimal">
											<xs:attribute default="inches" name="units" type="xs:string"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="height">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:decimal">
											<xs:attribute default="inches" name="units" type="xs:string"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="typicalInsertionHeight">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:decimal">
											<xs:attribute default="inches" name="units" type="xs:string"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="windowConstructionBCLID" type="xs:string"/>
							<xs:element name="frameType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Alum"/>
										<xs:enumeration value="Wood"/>
										<xs:enumeration value="Vinyl"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" name="framingFactor">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Low"/>
										<xs:enumeration value="Medium"/>
										<xs:enumeration value="High"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>