auditCoil.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://audit.nrel.gov/auditCoil" xmlns:ns1="http://audit.nrel.gov/auditCoil" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>auditCoil.xsd describes the auditCoil components for the audit tool.</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>Version -  0.1</xs:documentation>
	</xs:annotation>
	<xs:element name="auditCoil">
		<xs:annotation>
			<xs:documentation>root element which represents a auditCoil component</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:ID">
					<xs:annotation>
						<xs:documentation>unique ID of the component</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="attributes">
					<xs:annotation>
						<xs:documentation>attributes are name-value pair descriptors specific to this component</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="name" type="xs:string"/>
							<xs:element name="coilType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Hot Water Heating"/>
										<xs:enumeration value="Chilled Water Cooling"/>
										<xs:enumeration value="Natural Gas Heating"/>
										<xs:enumeration value="Propane Heating"/>
										<xs:enumeration value="Electric Resistance Heating"/>
										<xs:enumeration value="DX Cooling"/>
										<xs:enumeration value="DX Heating"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" name="chilledWaterSystemID" type="xs:IDREF"/>
							<xs:element minOccurs="0" name="hotWaterSystemID" type="xs:IDREF"/>
							<xs:element minOccurs="0" name="combustionEfficiency">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:decimal">
											<xs:attribute default="%" name="units" type="xs:string"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="nominalSeer">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:decimal">
											<xs:attribute default="Btu/W*hr" name="units" type="xs:string"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="valveType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Two-Way"/>
										<xs:enumeration value="Three-Way"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>