auditOutdoorAirIntake.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://audit.nrel.gov/auditOutdoorAirIntake" xmlns:ns1="http://audit.nrel.gov/auditOutdoorAirIntake" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>auditOutdoorAirIntake.xsd describes the auditOutdoorAirIntake components for the audit tool.</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>Version -  0.1</xs:documentation>
	</xs:annotation>
	<xs:element name="auditOutdoorAirIntake">
		<xs:annotation>
			<xs:documentation>root element which represents a auditOutdoorAirIntake component</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:ID">
					<xs:annotation>
						<xs:documentation>unique ID of the component</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="attributes">
					<xs:annotation>
						<xs:documentation>attributes are name-value pair descriptors specific to this component</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="name" type="xs:string"/>
							<xs:element name="outdoorAirDamperPosition">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Modulate Flow"/>
										<xs:enumeration value="Minimum Flow With Bypass"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="economizerControlType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="No Economizer"/>
										<xs:enumeration value="Fixed Dry Bulb"/>
										<xs:enumeration value="Fixed Enthalpy"/>
										<xs:enumeration value="Fixed Dry Bulb and Dew Point"/>
										<xs:enumeration value="Differential Dry Bulb"/>
										<xs:enumeration value="Differential Dry Bulb and Enthalpy"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" name="highDryBulbLimit">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:decimal">
											<xs:attribute default="degrees F" name="units" type="xs:string"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="highEnthalpyLimit">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:decimal">
											<xs:attribute default="Btu/lb*F" name="units" type="xs:string"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="highDewPointLimit">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:decimal">
											<xs:attribute default="degrees F" name="units" type="xs:string"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="demandControlledVentilation">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="True"/>
										<xs:enumeration value="False"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>