auditPlugLoadDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://audit.nrel.gov/auditPlugLoadDefinition" xmlns:ns1="http://audit.nrel.gov/auditPlugLoadDefinition" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>auditPlugLoadDefinition.xsd describes the auditPlugLoadDefinition components for the audit tool.</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>Version -  0.1</xs:documentation>
	</xs:annotation>
	<xs:element name="auditPlugLoadDefinition">
		<xs:annotation>
			<xs:documentation>root element which represents a auditPlugLoadDefinition component</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:ID">
					<xs:annotation>
						<xs:documentation>unique ID of the component</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="attributes">
					<xs:annotation>
						<xs:documentation>attributes are name-value pair descriptors specific to this component</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="name" type="xs:string"/>
							<xs:element name="plugLoadBCLID" type="xs:string"/>
							<xs:element minOccurs="0" name="plugLoadControlType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Occupancy Sensor"/>
										<xs:enumeration value="Load Sensing"/>
										<xs:enumeration value="Timer"/>
										<xs:enumeration value="Other"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>