auditChilledWaterSystem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://audit.nrel.gov/auditChilledWaterSystem" xmlns:auditChilledWaterSystemControls="http://audit.nrel.gov/auditChilledWaterSystemControls" xmlns:auditChiller="http://audit.nrel.gov/auditChiller" xmlns:auditPump="http://audit.nrel.gov/auditPump" xmlns:auditSecondaryPump="http://audit.nrel.gov/auditSecondaryPump" xmlns:auditWatersideEconomizer="http://audit.nrel.gov/auditWatersideEconomizer" xmlns:ns1="http://audit.nrel.gov/auditChilledWaterSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>auditChilledWaterSystem.xsd describes the auditChilledWaterSystem components for the audit tool.</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>Version -  0.1</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://audit.nrel.gov/auditPump" schemaLocation="auditPump.xsd"/>
	<xs:import namespace="http://audit.nrel.gov/auditSecondaryPump" schemaLocation="auditSecondaryPump.xsd"/>
	<xs:import namespace="http://audit.nrel.gov/auditChiller" schemaLocation="auditChiller.xsd"/>
	<xs:import namespace="http://audit.nrel.gov/auditChilledWaterSystemControls" schemaLocation="auditChilledWaterSystemControls.xsd"/>
	<xs:import namespace="http://audit.nrel.gov/auditWatersideEconomizer" schemaLocation="auditWatersideEconomizer.xsd"/>
	<xs:element name="auditChilledWaterSystem">
		<xs:annotation>
			<xs:documentation>root element which represents a auditChilledWaterSystem component</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:ID">
					<xs:annotation>
						<xs:documentation>unique ID of the component</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="attributes">
					<xs:annotation>
						<xs:documentation>attributes are name-value pair descriptors specific to this component</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="name" type="xs:string"/>
							<xs:element maxOccurs="unbounded" ref="auditPump:auditPump"/>
							<xs:element minOccurs="0" ref="auditSecondaryPump:auditSecondaryPump"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" ref="auditChiller:auditChiller"/>
							<xs:element name="pipingConfiguration">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Primary-Secondary"/>
										<xs:enumeration value="Primary-Only"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="pumpingConfiguration">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Headered Pumps"/>
										<xs:enumeration value="Pump for Each Component"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element ref="auditChilledWaterSystemControls:auditChilledWaterSystemControls"/>
							<xs:element minOccurs="0" ref="auditWatersideEconomizer:auditWatersideEconomizer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
