auditStory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://audit.nrel.gov/auditStory" xmlns:auditShape="http://audit.nrel.gov/auditShape" xmlns:auditSpace="http://audit.nrel.gov/auditSpace" xmlns:auditVertex="http://audit.nrel.gov/auditVertex" xmlns:ns1="http://audit.nrel.gov/auditStory" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>auditStory.xsd describes the auditStory components for the audit tool.</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>Version -  0.1</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://audit.nrel.gov/auditVertex" schemaLocation="auditVertex.xsd"/>
	<xs:import namespace="http://audit.nrel.gov/auditShape" schemaLocation="auditShape.xsd"/>
	<xs:import namespace="http://audit.nrel.gov/auditSpace" schemaLocation="auditSpace.xsd"/>
	<xs:element name="auditStory">
		<xs:annotation>
			<xs:documentation>root element which represents a auditStory component</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:ID">
					<xs:annotation>
						<xs:documentation>unique ID of the component</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="attributes">
					<xs:annotation>
						<xs:documentation>attributes are name-value pair descriptors specific to this component</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="name" type="xs:string"/>
							<xs:element name="storyNumber" type="xs:decimal"/>
							<xs:element minOccurs="0" name="belowFloorPlenumHeight">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:decimal">
											<xs:attribute default="feet" name="units" type="xs:string"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="floorToCeilingHeight">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:decimal">
											<xs:attribute default="feet" name="units" type="xs:string"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="aboveCeilingPlenumHeight">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:decimal">
											<xs:attribute default="feet" name="units" type="xs:string"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="unbounded" ref="auditVertex:auditVertex"/>
							<xs:element ref="auditShape:auditShape"/>
							<xs:element maxOccurs="unbounded" ref="auditSpace:auditSpace"/>
							<xs:element minOccurs="0" name="defaultLightingScheduleID" type="xs:IDREF"/>
							<xs:element minOccurs="0" name="defaultEquipmentScheduleID" type="xs:IDREF"/>
							<xs:element minOccurs="0" name="defaultOccupancyScheduleID" type="xs:IDREF"/>
							<xs:element minOccurs="0" name="defaultWaterFixtureScheduleID" type="xs:IDREF"/>
							<xs:element minOccurs="0" name="defaultCoolingSetpointScheduleID" type="xs:IDREF"/>
							<xs:element minOccurs="0" name="defaultHeatingSetpointScheduleID" type="xs:IDREF"/>
							<xs:element minOccurs="0" name="defaultAtticFloorID" type="xs:IDREF"/>
							<xs:element minOccurs="0" name="defaultAtticRoofID" type="xs:IDREF"/>
							<xs:element minOccurs="0" name="defaultBelowGradeWallID" type="xs:IDREF"/>
							<xs:element minOccurs="0" name="defaultExteriorRoofID" type="xs:IDREF"/>
							<xs:element minOccurs="0" name="defaultExteriorWallID" type="xs:IDREF"/>
							<xs:element minOccurs="0" name="defaultInteriorCeilingID" type="xs:IDREF"/>
							<xs:element minOccurs="0" name="defaultInteriorFloorID" type="xs:IDREF"/>
							<xs:element minOccurs="0" name="defaultInteriorWallID" type="xs:IDREF"/>
							<xs:element minOccurs="0" name="defaultOutdoorExposedFloorID" type="xs:IDREF"/>
							<xs:element minOccurs="0" name="defaultSlabOnGradeFloorID" type="xs:IDREF"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>