auditCondenserWaterSystem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://audit.nrel.gov/auditCondenserWaterSystem" xmlns:auditCondenserWaterSystemControls="http://audit.nrel.gov/auditCondenserWaterSystemControls" xmlns:auditCoolingTowerFluidCooler="http://audit.nrel.gov/auditCoolingTowerFluidCooler" xmlns:auditPump="http://audit.nrel.gov/auditPump" xmlns:ns1="http://audit.nrel.gov/auditCondenserWaterSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>auditCondenserWaterSystem.xsd describes the auditCondenserWaterSystem components for the audit tool.</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>Version -  0.1</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://audit.nrel.gov/auditPump" schemaLocation="auditPump.xsd"/>
	<xs:import namespace="http://audit.nrel.gov/auditCoolingTowerFluidCooler" schemaLocation="auditCoolingTowerFluidCooler.xsd"/>
	<xs:import namespace="http://audit.nrel.gov/auditCondenserWaterSystemControls" schemaLocation="auditCondenserWaterSystemControls.xsd"/>
	<xs:element name="auditCondenserWaterSystem">
		<xs:annotation>
			<xs:documentation>root element which represents a auditCondenserWaterSystem component</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:ID">
					<xs:annotation>
						<xs:documentation>unique ID of the component</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="attributes">
					<xs:annotation>
						<xs:documentation>attributes are name-value pair descriptors specific to this component</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="name" type="xs:string"/>
							<xs:element maxOccurs="unbounded" ref="auditPump:auditPump"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" ref="auditCoolingTowerFluidCooler:auditCoolingTowerFluidCooler"/>
							<xs:element name="pumpingConfiguration">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Headered Pumps"/>
										<xs:enumeration value="Pump for Each Component"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" ref="auditCondenserWaterSystemControls:auditCondenserWaterSystemControls"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>