auditProcessLoadDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://audit.nrel.gov/auditProcessLoadDefinition" xmlns:ns1="http://audit.nrel.gov/auditProcessLoadDefinition" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>auditProcessLoadDefinition.xsd describes the auditProcessLoadDefinition components for the audit tool.</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>Version -  0.1</xs:documentation>
	</xs:annotation>
	<xs:element name="auditProcessLoadDefinition">
		<xs:annotation>
			<xs:documentation>root element which represents a auditProcessLoadDefinition component</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:ID">
					<xs:annotation>
						<xs:documentation>unique ID of the component</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="attributes">
					<xs:annotation>
						<xs:documentation>attributes are name-value pair descriptors specific to this component</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="fuelType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Electricity"/>
										<xs:enumeration value="Natural Gas"/>
										<xs:enumeration value="Steam"/>
										<xs:enumeration value="District Cooling"/>
										<xs:enumeration value="District Heating"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="power" type="xs:decimal"/>
							<xs:element name="powerUnits">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="kW"/>
										<xs:enumeration value="MBH"/>
										<xs:enumeration value="klbs/hr"/>
										<xs:enumeration value="ccf/hr"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" name="percentLatent">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:decimal">
											<xs:attribute default="%" name="units" type="xs:string"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="percentRadiant">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:decimal">
											<xs:attribute default="%" name="units" type="xs:string"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="percentLost">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:decimal">
											<xs:attribute default="%" name="units" type="xs:string"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>