auditAirTerminal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://audit.nrel.gov/auditAirTerminal" xmlns:auditCoil="http://audit.nrel.gov/auditCoil" xmlns:auditFan="http://audit.nrel.gov/auditFan" xmlns:ns1="http://audit.nrel.gov/auditAirTerminal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>auditAirTerminal.xsd describes the auditAirTerminal components for the audit tool.</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>Version -  0.1</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://audit.nrel.gov/auditCoil" schemaLocation="auditCoil.xsd"/>
	<xs:import namespace="http://audit.nrel.gov/auditFan" schemaLocation="auditFan.xsd"/>
	<xs:element name="auditAirTerminal">
		<xs:annotation>
			<xs:documentation>root element which represents a auditAirTerminal component</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:ID">
					<xs:annotation>
						<xs:documentation>unique ID of the component</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="attributes">
					<xs:annotation>
						<xs:documentation>attributes are name-value pair descriptors specific to this component</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="terminalType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="VAV"/>
										<xs:enumeration value="CAV"/>
										<xs:enumeration value="Air-Air Induction"/>
										<xs:enumeration value="Active Chilled Beam"/>
										<xs:enumeration value="Bypass Terminal"/>
										<xs:enumeration value="Series Fan Powered"/>
										<xs:enumeration value="Parallel Fan Powered"/>
										<xs:enumeration value="Diffuser"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="airSystemID" type="xs:IDREF"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" ref="auditCoil:auditCoil"/>
							<xs:element minOccurs="0" ref="auditFan:auditFan"/>
							<xs:element minOccurs="0" name="minimumVavFlowFraction">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:decimal">
											<xs:attribute default="%" name="units" type="xs:string"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>