auditOptimizationProblem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://audit.nrel.gov/auditOptimizationProblem" xmlns:auditMeasure="http://audit.nrel.gov/auditMeasure" xmlns:ns1="http://audit.nrel.gov/auditOptimizationProblem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>auditOptimizationProblem.xsd describes the auditOptimizationProblem components for the audit tool.</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>Version -  0.1</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://audit.nrel.gov/auditMeasure" schemaLocation="auditMeasure.xsd"/>
	<xs:element name="auditOptimizationProblem">
		<xs:annotation>
			<xs:documentation>root element which represents a auditOptimizationProblem component</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:ID">
					<xs:annotation>
						<xs:documentation>unique ID of the component</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="attributes">
					<xs:annotation>
						<xs:documentation>attributes are name-value pair descriptors specific to this component</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" ref="auditMeasure:auditMeasure"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>